<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>hotel_manager</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>servlets.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReservationSearchQuery</display-name>
		<servlet-name>ReservationSearchQuery</servlet-name>
		<servlet-class>servlets.ReservationSearchQuery</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerHomePage</display-name>
		<servlet-name>CustomerHomePage</servlet-name>
		<servlet-class>servlets.CustomerHomePage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReservationSearchResults</display-name>
		<servlet-name>ReservationSearchResults</servlet-name>
		<servlet-class>servlets.ReservationSearchResults</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewAndBook</display-name>
		<servlet-name>ViewAndBook</servlet-name>
		<servlet-class>servlets.ViewAndBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReservationSearchQuery</servlet-name>
		<url-pattern>/ReservationSearchQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerHomePage</servlet-name>
		<url-pattern>/CustomerHomePage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReservationSearchResults</servlet-name>
		<url-pattern>/ReservationSearchResults</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAndBook</servlet-name>
		<url-pattern>/ViewAndBook</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
